.frameColumns,
.frameTop,
.frameBottom {
  position: fixed;
}

.frameColumns {
  border-left: var(--border-width) solid #007637;
  border-right: var(--border-width) solid #007637;
  height: 100dvh;
  inset: 0;
  width: 100dvw;
}

.frameTop,
.frameBottom {
  background: #007637;
  height: var(--border-width);
  left: 0;
  width: 100dvw;
}

.frameTop {
  top: 0;
}

.frameBottom {
  bottom: 0;
}

.contentBlock {
  display: grid;
  grid-template: auto 1fr auto / auto;
  min-height: 100dvh;
  padding: var(--border-width);
  position: relative;
}

.header {
  align-items: center;
  border-bottom: 1px solid #007637;
  display: flex;
  margin-inline: 12px;
  padding: 24px 12px;
}

.h1 {
  font-size: 3.6rem;
}

.description {
  font-size: 1.6rem;
}

.main {
  padding: 24px;
}

.footer {
  border-top: 1px solid #007637;
  font-size: 1.4rem;
  margin-inline: 12px;
  padding: 24px 12px;
}
